body
{	background-color:#0A0A29;
	color:Silver; }
a:link
	{ color:Crimson; }
a:visited
	{ color:Brown; }
::selection
	{ color:DarkViolet; }
.l_links
{	width:10%;
	float:left; }
.main_div
{	width:80%;
	float:left; }
